.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}



.login.anchorpane {
  -fx-background-color: red;
}


.fieldText {
   	
}
.fieldText:focused{
	-fx-border-color: red;
}

/*#############################################*/

.login {
   	-fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

/*#############################################*/

.button.confirm {
	-fx-background-color: #27ae60;
	-fx-text-fill: white;
	-fx-background-radius: 20;
}

.button.confirm:hover{
	-fx-background-color: #1abc9c;
}
.button.confirm:pressed{
	-fx-background-color: #16a085;
}

/*#############################################*/

.button.new {
	-fx-background-color: #27ae60;
	-fx-text-fill: white;
	-fx-background-radius: 20;
	
}

.button.new:hover{
	-fx-background-color: #2ecc71;
}
.button.new:pressed{
	-fx-background-color: #27ae60;
}
/*#############################################*/

.button.edit {
	-fx-background-color: #f39c12;
	-fx-text-fill: white;
	-fx-background-radius: 20;
}

.button.edit:hover{
	-fx-background-color: #f1c40f;
}
.button.edit:pressed{
	-fx-background-color: #f39c12;
}
/*#############################################*/

.button.cancel {
	-fx-background-color: #c0392b;
	-fx-text-fill: white;
	-fx-background-radius: 20;
}

.button.cancel:hover{
	-fx-background-color: #e74c3c;
}
.button.cancel:pressed{
	-fx-background-color: #c0392b;
}

.toggle-button {
  -fx-graphic: url('../images/Icons/ship-icon2.png');
}

.toggle-button:selected {
  -fx-graphic: url('../images/Icons/ship-icon2.png');
}

.toggle-button2 {
  -fx-background-image: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Pizza-icon.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.toggle-button2:selected {
  -fx-background-image: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Piece-of-cake-icon.png');
}