.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}



.anchorPane{
	-fx-border-radius:  10 10 10 10;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
	-fx-background-radius: 5;  
}

/*#############################################*/

.tableView{
   -fx-background-color: none;
   
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#2980b9 50%, #2980b9 100%);
    -fx-text-fill: white; 
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

/*#############################################*/
.fieldText {
   	
}
.fieldText:focused{
	-fx-border-color: red;
}

/*#############################################*/

.login {
   	-fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

/*#############################################*/

.button.confirm {
	-fx-background-color: #33485d;
	-fx-text-fill: white;
	-fx-font.font-family: Futura Md
}

.button.confirm:hover{
	-fx-background-color: #2d4955;
}
.button.confirm:pressed{
	-fx-background-color:  #2d4955;
}

/*#############################################*/

.button.new {
	-fx-background-color: #2980b9;
	-fx-text-fill: white;
	-
	
}

.button.new:hover{
	-fx-background-color: #3498db;
}
.button.new:pressed{
	-fx-background-color: #2980b9;
}
/*#############################################*/

.button.edit {
	-fx-background-color: #f39c12;
	-fx-text-fill: white;

}

.button.edit:hover{
	-fx-background-color: #f1c40f;
}
.button.edit:pressed{
	-fx-background-color: #f39c12;
}
/*#############################################*/

.button.cancel {
	-fx-background-color: #c0392b;
	-fx-text-fill: white;
	
}

.button.cancel:hover{
	-fx-background-color: #e74c3c;
}
.button.cancel:pressed{
	-fx-background-color: #c0392b;
}

.toggle-button {
  -fx-graphic: url('../images/Icons/ship-icon2.png');
}

.toggle-button:selected {
  -fx-graphic: url('../images/Icons/ship-icon2.png');
}

.toggle-button2 {
  -fx-background-image: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Pizza-icon.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
}

.toggle-button2:selected {
  -fx-background-image: url('http://icons.iconarchive.com/icons/aha-soft/desktop-buffet/128/Piece-of-cake-icon.png');
}
.button-cancelnew {
	fx-background-color: #33485d;
	-fx-text-fill: white;
	-fx-font.font-family: Futura Md
}
.button-cancelnew:hover{
fx-background-color: #FF6347;
}