.text-field.error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}



.login.anchorpane {
  -fx-background-color: red;
}


.fieldText {
   	
}
.fieldText:focused{
	-fx-border-color: red;
}

/*#############################################*/

.login {
   	-fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

/*#############################################*/

.button.confirm {
	-fx-background-color: #27ae60;
	-fx-text-fill: white;
	-fx-background-radius: 20;
}

.button.confirm:hover{
	-fx-background-color: #1abc9c;
}
.button.confirm:pressed{
	-fx-background-color: #16a085;
}